@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-main: #ff9800;
  --color-button: #f57c00;
  --color-button-hover: #ffb74d;
  --color-slide-bar: #fff3e0;
  --color-invoice: #90caf9;
  --color-background-color: #f1f1f1;
  --color-card-shadow: rgba(0, 0, 0, 0.1);
  --color-app-bg: #f9f9f9;
  --color-app-content-bg: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  transition: all 0.3s ease;
  animation: fadeIn 0.3s ease-out;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.app {
  display: flex;
  margin-left: 18%;
  margin-top: 60px;
  padding: 1.8rem 2rem;
  width: 82%;
  overflow: hidden;
  background-color: var(--color-background-color);
}

.app-content {
  width: 100%;
  min-height: 100vh;
}

.app-content-pages {
  width: 100%;
  display: flex;
  justify-content: center;
}
