.order {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.order:hover {
  transform: scale(1.02);
}

.order-fetch-data {
  margin-bottom: 20px;
  text-align: center;
  width: fit-content;
}

.order-fetch-data button {
  padding: 8px 16px;
  background-color: transparent;
  color: #ff7e5f;
  border: 2px solid #ff7e5f;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s, border-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.order-fetch-data button:hover {
  color: #feb47b;
  border-color: #feb47b;
  transform: translateY(-3px);
  box-shadow: 0 4px 20px rgba(255, 126, 95, 0.5);
}

.order-fetch-data button i {
  margin-right: 10px;
  font-size: 18px;
}

.order-status {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.order-status button {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #e9ecef;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.order-status button.active {
  background-color: #ff7e5f;
  color: #fff;
}

.order-status button:hover {
  background-color: #feb47b;
}

.order-list {
  margin-top: 20px;
}

.order-items {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 0.8fr;
  align-items: flex-start;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s;
  gap: 10px;
}

.order-items:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.order-items .flex-col {
  display: flex;
  flex-direction: column;
}

.order-item-food {
  font-weight: bold;
  font-size: 15px;
  color: #343a40;
}

.order-item-name {
  color: #555;
  font-size: 14px;
  margin-bottom: 8px;
}

.order-item-address p,
.order-items p {
  margin: 5px 0;
  color: #666;
}

.order-item-phone span {
  color: #17a2b8;
  margin: 5px 0;
}

.order-item-receive-deny-order {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-item-receive-deny-order button,
.order-item_name-delivery-staff button {
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-item-receive-deny-order button.receive,
.order-item_name-delivery-staff button.delivered {
  background-color: #ff7e5f;
}

.order-item-receive-deny-order button.deny,
.order-item_name-delivery-staff button.deny {
  background-color: #e53935;
}

.order-item-receive-deny-order button:hover.receive,
.order-item_name-delivery-staff button:hover.delivered {
  background-color: #ff8a65;
  transform: translateY(-2px);
}

.order-item-receive-deny-order button:hover.deny,
.order-item_name-delivery-staff button:hover.deny {
  background-color: #ef5350;
  transform: translateY(-2px);
}

.order-item_name-delivery-staff {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-item_name-delivery-staff .print-button {
  padding: 10px 15px;
  background-color: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-item_name-delivery-staff .print-button:hover {
  background-color: #138496;
}

.order-item_cancelled p {
  color: #dc3545;
}

.select-class {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-right: 10px;
  transition: border-color 0.3s;
}

.select-class:focus {
  outline: none;
  border-color: #ff7e5f;
}

.delivery-staff-select {
  padding: 8px 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  color: #495057;
  transition: border-color 0.3s ease;
  font-size: 14px;
  cursor: pointer;
}

.delivery-staff-select:focus {
  border-color: #ff7e5f;
  outline: none;
}

.delivery-staff-select option {
  padding: 5px;
}

.complete-processing-button {
  padding: 8px 15px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.complete-processing-button:hover {
  background-color: #dc3545;
  transform: translateY(-2px);
}

.complete-processing-button:active {
  background-color: #ff7e5f;
}

@media (max-width: 760px) {
  .order-fetch-data {
    width: 100%;
  }

  .order-fetch-data button {
    width: 100%;
  }
  .order-items {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    gap: 15px;
  }

  .order-item-receive-deny-order,
  .order-item_name-delivery-staff {
    flex-direction: column;
    align-items: flex-start;
  }

  .order-item-receive-deny-order button,
  .order-item_name-delivery-staff button {
    width: 100%;
  }

  .order-status {
    flex-wrap: wrap;
    justify-content: center;
  }

  .delivery-staff-select,
  .complete-processing-button {
    width: 100%;
  }
}
