:root {
  --color-gray-blue: #49557e;
  --color-black: #0c0c0c;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
  --color-light-pink: #fff4f2;
  --color-dark-grey: #747474;
  --color-light-bg: #ffffff;
  --color-overlay: rgba(0, 0, 0, 0.6);
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-main: #ff6347;
  --color-invoice: #ffa07a;
  --color-font: #331919;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lobster", cursive;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
  animation: fadeIn 0.3s ease-out;
}

* ul {
  list-style: none;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-main);
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}
