.order-invoice {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.order-invoice:hover {
  transform: scale(1.03);
}

.order-invoice-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ff7e5f;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.order-invoice-header p {
  font-size: 24px;
  font-weight: bold;
  color: #ff7e5f;
}

.order-invoice-header-right p {
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #555;
}

.order-invoice-information p {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.order-invoice-information-title {
  text-transform: uppercase;
  font-weight: bold;
}

.order-invoice-information p:first-of-type {
  margin-top: 0;
}

.order-invoice-information-payment-method p {
  font-size: 16px;
  font-weight: normal;
  color: #555;
}

.order-invoice-title {
  font-size: 22px;
  font-weight: bold;
  color: #ff7e5f;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.order-invoice-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.order-invoice-list th {
  background-color: #ff7e5f;
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 16px;
}

.order-invoice-list td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.item-name {
  font-weight: bold;
  color: #333;
}

.item-quantity {
  color: #999;
}

.item-price,
.item-amount {
  font-weight: bold;
  color: #ff7e5f;
}

.order-invoice-total-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.order-invoice-total-left p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.order-invoice-total-right p {
  font-size: 20px;
  font-weight: bold;
  color: #ff7e5f;
}

.order-invoice-footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #777;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.order-invoice-footer p {
  margin: 0;
}

@media (max-width: 768px) {
  .order-invoice-header {
    flex-direction: column;
    align-items: center;
  }

  .order-invoice-header-right {
    text-align: center;
  }

  .order-invoice-list table,
  .order-invoice-total-container {
    font-size: 14px;
  }

  .order-invoice-total-right p {
    font-size: 18px;
  }
}
