.food-search-container {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.food-search-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.food-search-back-icon {
  cursor: pointer;
  font-size: 30px;
  color: #ff7e5f;
  margin-right: 15px;
}

.food-search {
  flex-grow: 1;
}

.food-search-input-container {
  display: flex;
  align-items: center;
  border: 2px solid #ff7e5f;
  border-radius: 50px;
  overflow: hidden;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.food-search-input-container input {
  flex-grow: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 50px 0 0 50px;
  background-color: transparent;
}

.food-search-input-container i {
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
  color: #ff7e5f;
}

.food-search-input-container:hover {
  border-color: #ff5e5f;
}

.food-search-list-container {
  border: 2px solid #efebeb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-list {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.food-list-header,
.food-list-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr 0.5fr;
  transition: background-color 0.3s ease;
}

.food-list-header {
  background-color: #ff7e5f;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  justify-items: start;
  align-items: center;
}

.food-list-item {
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
}

.food-list-item:hover {
  background-color: #e9ecef;
}

.food-list-item img {
  width: 50px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.food-list-actions {
  display: flex;
  gap: 10px;
}
.food-edit-btn,
.food-remove-btn {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 5px;
}

.food-edit-btn {
  background-color: #ff7e5f;
  color: white;
}

.food-edit-btn:hover {
  background-color: #ff8a65;
  transform: translateY(-2px);
}

.food-remove-btn {
  background-color: #e53935;
  color: white;
}

.food-remove-btn:hover {
  background-color: #ef5350;
  transform: translateY(-2px);
}

.food-edit-btn,
.food-remove-btn {
  border: 1px solid transparent;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.food-status-select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: background-color 0.3s;
}

.food-status-select:hover {
  background-color: #f1f1f1;
}

.food-not-found-message {
  text-align: center;
  color: #777;
  font-size: 18px;
  margin-top: 20px;
}

@media (max-width: 1124px) {
  .food-list-item,
  .food-list-header {
    grid-template-columns: 0.5fr 1.5fr 1fr;
  }
}

@media (max-width: 720px) {
  .food-search-container {
    padding: 10px;
  }

  .food-search-input-container i {
    font-size: 20px;
  }

  .food-list-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .food-list-item img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .food-list-actions {
    flex-direction: column;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .food-list-actions button {
    width: 100%;
  }

  .food-search {
    width: 100%;
  }

  .food-search-input-container input {
    width: 100%;
  }

  .food-list-item,
  .food-list-header {
    grid-template-columns: 1fr;
  }

  .food-status-select {
    width: 100%;
    margin: 0 !important;
  }
}
