.list-food {
  width: 100%;
  padding: 2rem 2rem;
  transition: all 5s ease forward;
}

.list-table {
  border-radius: 10px;
  border: 1px solid #cacaca;
  overflow: hidden;
}

.list-food .list-table-format {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}

.list-food .list-table-format .title {
  background-color: #f9f9f9;
}

.list-food .list-table-format img {
  width: 50px;
  border-radius: 5px;
}

.list-food .list-table-format-action {
  display: flex;
  box-sizing: border-box;
}

.list-food .list-table-format-action .edit,
.list-food .list-table-format-action .remove {
  width: 60px;
  height: 25px;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.list-food .list-table-format-action .edit {
  background-color: black;
  color: white;
}

.list-food .list-table-format-action .remove {
  background-color: var(--color-button);
  color: white;
}

.list-food .list-table-format-action .edit:active {
  background-color: white;
  color: black;
}

.list-food .list-table-format-action .remove:active {
  background-color: white;
  color: var(--color-button);
}

.list-table-status {
  width: fit-content;
  height: 25px;
  font-size: 15px;
  padding: 0 10px;
  background-color: var(--color-background-color);
  cursor: pointer;
}

.list-food-type {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

.list-food-type select {
  width: fit-content;
  height: 35px;
  font-size: 1rem;
  border: 1px solid rgb(138, 136, 136);
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  outline: none;
  background-color: var(--color-background-color);
}

.img-container {
  position: relative;
  display: inline-block;
}

.list-food-type .img-container img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.list-food-type .img-container img:hover {
  width: 35px;
  height: 35px;
}

.list-food-type .img-container:hover + .list-food-type-hover-text {
  display: block;
}

.list-food-type-hover-text {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 40px 0 0;
  background-color: rgb(245, 223, 184);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .list-food .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }

  .list-food .list-table-format .title {
    display: none;
  }
}

@media (max-width: 450px) {
  .list-food {
    width: 100%;
    padding: 1rem 1rem;
  }
}
