.normal-pagination-container {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.normal-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.normal-pagination button {
  width: 45px;
  height: 45px;
  font-weight: 500;
  color: var(--color-main);
  font-size: 18px;
  border: none;
  background-color: rgb(246, 229, 199);
  border-radius: 10px;
  cursor: pointer;
}

.normal-pagination .active {
  color: white;
  background-color: var(--color-main);
  border: 1px solid var(--color-main);
}

.normal-pagination-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal-pagination-arrow-left,
.normal-pagination-arrow-right {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.normal-pagination-arrow-right {
  transform: scaleX(-1);
}

.normal-pagination-show-page span {
  color: rgb(174, 174, 174);
}

@media (max-width: 550px) {
  .normal-pagination-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
